h1{ 
margin-left:605px;
font-size:20px;

 }
input{
	text-align:center;
	margin-left: 600px
}

#bt1{
	margin-left:650px;
}
#bt2{
	margin-left:10px;
}
#bt3{
	margin-left:10px;

}
#imagen{
	margin-left:625px;
}
#fecha{
	width:168px;
}